name: main

on:
  push:
    branches:
      - main
  pull_request:

permissions: {}

concurrency:
  group: main-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    permissions:
      contents: read
    strategy:
      matrix:
        runs-on: [ubuntu-latest, macos-latest]
      fail-fast: false
    runs-on: ${{ matrix.runs-on }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          persist-credentials: false
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: 3.12

      - name: Install
        run: python -m pip install -e ".[test]"

      - name: Test
        run: python -m pytest
